.constructor {
  flex: 1;
  padding: 100px 0 0 16px;
}

.constructor-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 9.5px;
}

