* {
  box-sizing: border-box;
}

body {
  color: #F2F2F3;
}

a {
  text-decoration: none;
  color: #F2F2F3;
}

.wrapper {
  padding: 40px 40px 0 40px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1270px;
}